@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #0f172a;
  /* slate-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}